body {
  background-color: #cfd8dc;
  color: #455a64;
  display: flex;
  font-family: Open Sans, sans-serif;
  font-size: 1.3em;
  margin: 0px;
  min-width: 320px;
}
header {
  align-items: center;
  background-color: #455a64;
  color: #ffffff;
  display: flex;
  height: 100vh;
  text-align: center;
  width: 50vw;
}
fieldset {
  border: 0;
  display: block;
  margin: auto;
  padding: 1em;
  width: 90%;
}
fieldset p {
  color: #ffffff;
  display: inline-flex;
  font-size: 20px;
  font-weight: 800;
  margin: auto;
  margin-top: 40px;
}
h1 {
  font-size: 6.5vw;
  font-weight: 800;
  margin: auto;
}
h1 img {
  height: .8em;
  vertical-align: -0.5vh;
  width: auto;
}
label {
  display: none;
}
input {
  border: 2px solid #C0C2C4;
  display: block;
  font-size: 1.5em;
  margin: auto;
  margin-top: 1.5em;
  width: 99%;
}
input::placeholder {
  color: #C0C2C4;
}
button {
  background: #ffc107;
  border: 0;
  color: #ffffff;
  display: block;
  font-size: 1.2em;
  font-weight: 800;
  height: 2em;
  margin: auto;
  margin-top: 2em;
  width: 100%;
}
button:hover {
  background-color: #ffd773;
}
.enter-button:disabled {
  background-color: lightgrey;
}
.linked-list-box {
  background-color: #ffffff;
  border: 1px solid #607d8b;
  margin: 1em;
  padding: .5em 1em;
}
.linked-list-box-read {
  background-color: #F2F4F4;
}
.linked-list-box-read .read {
  color: #F05A28;
}
h2 {
  border-bottom: 1px solid #cfd8dc;
  font-size: 3vw;
  font-weight: 800;
  margin: 0;
  overflow: hidden;
  padding-bottom: .3em;
}
a {
  color: #455a64;
  display: block;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  text-decoration-color: #CDD6DB;
}
a:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration-color: #ffc107;
}
main {
  color: #455a64;
  display: inline-block;
  height: 100vh;
  overflow-y: scroll;
  width: 50vw;
}
.website-url-output {
  color: #607D8B;
  padding-bottom: 1em;
  padding-top: 0.75em;
  text-decoration: underline #CFD8DC;
}
.read-delete-links{
  border-top: 1px solid #cfd8dc;
  display: flex;
  font-size: 1.5vw;
  justify-content: space-between;
  padding-top: 10px;
  text-align: right;
  text-decoration-color: #cfd8dc;
  text-decoration: underline;
}
.read-delete-links:hover {
  color: #455A64;
  text-decoration: underline #FFC107;
}
.read-link {
  text-align: left;
}
@media (max-width: 726px) {
  body {
    display: block;
    font-size: .8em;
  }
  button {
    margin-top: .5em;
  }
  header {
    height: auto;
    width: 100%;
  }
  h1 {
    font-size: 3em;
  }
  main {
    height: 60vh;
    width: 100%;
  }
  input {
    margin-top: .5em;
  }
  .linked-list-box {
    background-color: #ffffff;
    border: 1px solid #607d8b;
    margin: auto;
    margin-top: 20px;
    width: 86vw;
  }
  .read-delete-links{
    font-size: 1em;
  }
  .website-title-output {
    font-size: 1.8em;
  }
  .website-url-output {
    font-size: 1.3em;
  }
}


/*CSS for Link Counters*/
/*.link-manager {
display: inline;
height: 100px;
color: white;
width: 100%;
justify-content: space-between;
}

.title-of-links {
margin-right: 50px;
}

.title-of-read-links {
margin-left: 50px;
margin-right: 50px;
color: #f05a28;
}

.title-of-unread-links {
margin-left: 50px;
}

.current-number-of-links {
margin-right: 120px;
}

.current-number-of-read-links {
margin-left: 110px;
margin-right: 110px;
color: #f05a28;
}

.current-number-of-unread-links {
margin-left: 120px;
}*/
